$primary-font: "Montserrat",
"sans-serif";
$secondary-font: "Titillium Web",
"sans-serif";
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: rgba(240, 235, 235, 0.822);
    font-family: $primary-font;
    overflow-x: hidden;
    position: relative;
}

#back-to-top {
    background-color: #0f967f;
    color: #ffffff;
    padding: 0.7rem 1.2rem;
    border-radius: 50%;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;
    &:hover {
        transition: transform 0.3s;
        transform: translateY(-5px);
        box-shadow: -13px 14px 8px #6a6c6994;
    }
}

%button-resume {
    padding: 0.5rem 2.5rem;
    border-radius: 56px;
    box-shadow: -4px 11px 20px 4px #7d9190;
    background: rgb(224, 235, 239);
    background: linear-gradient( 153deg, rgba(224, 235, 239, 1) 0%, rgba(255, 255, 255, 0.9847101790181706) 46%, rgba(167, 204, 232, 1) 100%);
}

#primary-navbar {
    z-index: 999999;
    position: fixed;
    top: 0;
    &.scrolled-navbar {
        background: #ffffff;
    }
    .navbar {
        padding: 0.5rem 2.5rem;
    }
    .navbar-brand {
        &:hover {
            transition: transform 0.3s;
            transform: translateY(-5px);
        }
        #brand-logo {
            width: auto;
            height: 3.5rem;
        }
    }
    .active {
        border-top: solid rgb(0, 0, 0);
        border-bottom: solid rgb(0, 0, 0);
        &:active {
            background-color: rebeccapurple;
        }
    }
    .nav-link {
        padding: 0.5rem 1.4rem;
        font-size: 1.15rem;
        color: #2e2b12;
        font-weight: 500;
        &:hover {
            border: none;
            background: linear-gradient( to right, #94cec9 0%, #74cac9 51%, rgb(147, 176, 211) 100%);
            opacity: 0.7;
            box-shadow: -16px 12px 20px 3px #0f967f;
            border-radius: 0.5rem;
            transition: transform 0.2s;
            transform: translateY(-4px);
            color: #1f1c03;
        }
    }
    .empty-column {
        display: none;
    }
    .hover-effect {
        text-decoration: none;
        padding: 0.5rem 1.4rem;
        font-size: 1.15rem;
        color: #2e2b12;
        font-weight: 500;
        &:hover {
            border: none;
            background: black;
            opacity: 0.7;
            box-shadow: -9px 9px 16px 2px #797979f6;
            border-radius: 0.5rem;
            transition: transform 0.2s;
            transform: translateY(-4px);
            color: #ffffff;
        }
    }
}

#header-panel {
    background-image: url("../images/background-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 34rem;
    width: 100%;
    overflow: hidden;
    padding-top: 8rem;
    .wave {
        animation-name: wave-animation;
        /* Refers to the name of your @keyframes element below */
        animation-duration: 3s;
        /* Change to speed up or slow down */
        animation-iteration-count: infinite;
        /* Never stop waving :) */
        transform-origin: 70% 70%;
        /* Pivot around the bottom-left palm */
        display: inline-block;
        text-shadow: -14px 11px 20px #088b76;
    }
    @keyframes wave-animation {
        0% {
            transform: rotate(0deg);
        }
        10% {
            transform: rotate(14deg);
        }
        /* The following five values can be played with to make the waving more or less extreme */
        20% {
            transform: rotate(-8deg);
        }
        30% {
            transform: rotate(14deg);
        }
        40% {
            transform: rotate(-4deg);
        }
        50% {
            transform: rotate(10deg);
        }
        60% {
            transform: rotate(0deg);
        }
        /* Reset for the last half to pause */
        100% {
            transform: rotate(0deg);
        }
    }
    #about-me-btn {
        @extend %button-resume;
    }
    #image {
        height: 20rem;
        width: 100%;
        img {
            border-radius: 11px;
            background: #e0e0e0;
            box-shadow: -15px 7px 20px 0px #797979;
        }
    }
}

#about-me {
    padding-top: 5rem;
    .h1 {
        font-size: 2.2rem;
    }
    .h3 {
        font-size: 2rem;
    }
    #text-carousel {
        letter-spacing: 0.15rem;
    }
    #resume-btn {
        @extend %button-resume;
    }
    #logos {
        img {
            height: 4rem;
            width: auto;
            margin: 1rem auto;
            max-width: 100%;
        }
    }
    .content {
        padding: 0 3rem;
        font-family: $secondary-font;
        line-height: 1.5;
        font-size: 1.2rem;
        letter-spacing: 0.15rem;
        .about-me-content {
            text-align: justify;
        }
    }
}

#projects {
    padding-top: 5rem;
    .project-content {
        position: relative;
        width: 24rem;
        height: auto;
        max-width: 25rem;
        margin: auto;
        overflow: hidden;
        cursor: pointer;
        .content-overlay {
            border-radius: 1.5rem;
            background: rgba(0, 0, 0, 0.7);
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
        }
        &:hover {
            .content-details {
                top: 50%;
                left: 50%;
                opacity: 1;
            }
            .content-overlay {
                opacity: 1;
            }
        }
        .content-image {
            width: 100%;
        }
        .content-details {
            color: white;
            position: absolute;
            text-align: center;
            padding-left: 1em;
            padding-right: 1em;
            width: 100%;
            top: 50%;
            left: 50%;
            opacity: 0;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
        .fadeIn-bottom {
            top: 80%;
        }
        a {
            text-decoration: none;
            display: inline;
            background: #000000;
            color: #ffffff;
            padding: 0.5rem;
            border-radius: 0.5rem;
            font-size: 0.8rem;
        }
        // show for screen smaller the 992 px
        .content-details-lg-screen {
            display: none;
            margin-top: 0.5rem;
            .project-buttons {
                font-size: 0.8rem;
                margin-top: 0.6rem;
            }
        }
    }
    // smaller baakground with no project image
    .no-bg {
        max-width: 22rem;
        width: 19rem;
        height: auto;
    }
}

#contact {
    background: rgb(229, 226, 226);
    background: linear-gradient(168deg, #cadfcc 0%, #cad1ce 48%, #6191b4 100%);
    margin-top: 3rem;
    padding: 2rem 0;
    textarea {
        resize: none;
    }
    #contact-form,
    #contact-details {
        padding: 3.5rem;
        background: rgb(251, 251, 251);
        background: linear-gradient( 168deg, rgba(251, 251, 251, 1) 0%, rgba(233, 231, 231, 0.8746487906809604) 44%, rgba(234, 234, 234, 0.9785813749506233) 100%);
    }
    #contact-form {
        #send-message {
            color: rgb(255, 255, 255);
            border-radius: 62px;
            background: #3a3b3b65;
            box-shadow: -12px 12px 12px #b3bdae;
            &:hover {
                transition: transform 0.3s;
                transform: translateY(-5px);
                box-shadow: -6px 12px 16px #7c7b7b;
            }
        }
    }
    #contact-details {
        .contact {
            color: #000000;
            &:hover {
                color: #3b957d;
            }
        }
        .socials {
            color: #000000e0;
            border-radius: 50%;
            padding: 1rem;
            &:hover {
                background: #74867fc7;
                color: #ffffff;
                transition: transform 0.3s;
                transform: translateY(-5px);
                box-shadow: 7px 15px 16px #7c7b7b;
            }
        }
        .socials-wrapper {
            justify-content: space-around;
            .socials {
                max-width: 25%;
            }
        }
    }
}

#footer {
    background: #000000;
    color: #ffffff;
    padding: 1.25rem 0 0.5rem 0;
    a:hover {
        text-decoration: none;
    }
    .copyright {
        color: #ffffff;
        display: inline-block;
        &:hover {
            transition: transform 0.3s;
            transform: translateY(-6px);
            box-shadow: 8px 8px 13px #6e6e6e67;
        }
    }
    .socials {
        color: #ffffff;
        border-radius: 50%;
        padding: 0.5rem;
        display: inline-block;
        &:hover {
            transition: transform 0.3s;
            transform: translateY(-6px);
            box-shadow: 8px 8px 13px #464b44;
        }
    }
}


/* X-Large devices (large desktops, less than 1400px) */

@media (max-width: 1399.98px) {
    #header-panel {
        height: 30rem;
        #image {
            height: 19rem;
            width: 100%;
        }
    }
}


/* Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {
    #header-panel {
        padding-top: 5rem;
        height: 25rem;
        #image {
            height: 16rem;
            width: 100%;
        }
    }
    #contact {
        #contact-details {
            .socials {
                padding: 0.7rem;
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    #primary-navbar {
        .empty-column {
            display: block;
            height: 3.5rem;
        }
        .navbar-collapse {
            background: #fafafa;
            border-radius: 1.5rem;
            box-shadow: -26px 26px 51px #646464;
            position: absolute;
            top: 0.5rem;
            left: 3rem;
            max-width: 90%;
            width: 90%;
        }
        .animated-icon {
            z-index: 99999;
            width: 2.3rem;
            height: 1.7rem;
            position: absolute;
            top: 1.9rem;
            right: 3.5rem;
            margin: 0px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: 0.3s ease-in-out;
            -moz-transition: 0.3s ease-in-out;
            -o-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
            cursor: pointer;
            span {
                display: block;
                position: absolute;
                height: 3px;
                width: 100%;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: 0.25s ease-in-out;
                -moz-transition: 0.25s ease-in-out;
                -o-transition: 0.25s ease-in-out;
                transition: 0.25s ease-in-out;
                background: #000000;
                &:nth-child(1) {
                    top: 0px;
                }
                &:nth-child(2),
                &:nth-child(3) {
                    top: 10px;
                }
                &:nth-child(4) {
                    top: 20px;
                }
            }
            &.open span {
                &:nth-child(1) {
                    top: 11px;
                    width: 0%;
                    left: 50%;
                }
                &:nth-child(2) {
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                &:nth-child(3) {
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
                &:nth-child(4) {
                    top: 11px;
                    width: 0%;
                    left: 50%;
                }
            }
        }
        .active {
            border: none;
        }
        .navbar-nav>.nav-link {
            &:hover {
                background: linear-gradient( to right, #b5d5d2 0%, #a0cfce 51%, #a5c1e4 100%);
                opacity: 0.7;
                box-shadow: -16px 12px 20px 3px #1f796a;
                border-radius: 0;
                transition: transform 0.2s;
                transform: translateY(-4px);
                color: #000000;
            }
            // &:nth-child(1) {
            //     &:hover {
            //         border-radius: 1.5rem 1.5rem 0 0;
            //     }
            // }
            &:nth-child(5) {
                &:hover {
                    border-radius: 0 0 1.5rem 1.5rem;
                }
            }
        }
    }
    #header-panel {
        padding-top: 5rem;
        height: 30rem;
    }
    #about-me {
        #logos {
            .drf,
            .jquery {
                height: 3rem;
            }
            img {
                height: 4rem;
                width: auto;
                margin: 1rem auto;
            }
        }
        .content {
            padding: 0 2rem;
        }
    }
    #projects {
        .project-content {
            width: 18rem;
            height: 18rem;
            .content-overlay {
                display: none;
            }
            &:hover {
                .content-details {
                    display: none;
                }
                .content-overlay {
                    display: none;
                }
            }
            .content-details {
                display: none;
            }
            .content-details-lg-screen {
                display: block;
            }
        }
        .no-bg {
            max-width: 22rem;
            width: 14rem;
            height: 18rem;
        }
    }
    #contact {
        padding: 3rem 0;
        margin-top: 1rem;
        #contact-form,
        #contact-details {
            padding: 1rem;
        }
        #contact-details {
            .socials {
                padding: 0.55rem;
            }
        }
    }
}


/* X-Small devices (portrait phones, less than 768px) */

@media (max-width: 767.98px) {
    #primary-navbar {
        .navbar-collapse {
            left: 2.5rem;
            width: 90%;
        }
        .navbar {
            padding: 0.2rem 0.7rem;
        }
        .navbar-brand #brand-logo {
            height: 2.8rem;
        }
        .animated-icon {
            top: 1.4rem;
        }
    }
    #header-panel {
        height: 25rem;
        .container {
            max-width: 100%;
            padding: 0 3rem;
        }
        .h1 {
            font-size: 1.7rem;
        }
        .h4 {
            font-size: 1.2rem;
        }
        #image {
            height: 13rem;
            width: 100%;
        }
        #about-me-btn {
            padding: 0.5rem 1.8rem;
        }
    }
    #about-me {
        padding: 3rem 0 0 0;
        font-size: 1rem;
        .h1 {
            font-size: 2rem;
        }
        .h3 {
            font-size: 1.75rem;
        }
        .content {
            font-size: 1.1rem;
        }
        #content-about-me {
            flex-direction: column-reverse;
        }
    }
    #projects {
        font-size: 1rem;
        h1 {
            font-size: 2rem;
        }
    }
    #contact {
        padding-bottom: 0;
        font-size: 1rem;
        h1 {
            font-size: 2rem;
        }
        h2 {
            font-size: 1.7rem;
        }
        .font-weight-bold {
            font-size: 1.15rem;
        }
        #contact-form,
        #contact-details {
            padding: 1.5rem;
        }
        #contact-details {
            .socials {
                padding: 1.5rem;
            }
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    #primary-navbar {
        .navbar-collapse {
            left: 1.6rem;
            width: 90%;
        }
        .navbar {
            padding: 0 1rem 0;
            justify-content: space-between;
        }
        .animated-icon {
            top: 1.1rem;
            right: 1.8rem;
        }
    }
    #header-panel {
        height: 38rem;
        #image {
            height: 14rem;
            width: 100%;
        }
    }
    #about-me {
        .content {
            padding: 0 2rem;
            .about-me-content {
                text-align: left;
            }
        }
    }
    #contact {
        padding: 0;
        #contact-details {
            .socials {
                padding: 0.5rem;
                &:hover {
                    border-radius: 1rem;
                }
            }
        }
        .socials-wrapper {
            .socials {
                i {
                    font-size: 2.3rem;
                }
            }
        }
    }
    #footer {
        padding: 0.25rem 0;
        i {
            font-size: 1.1rem;
        }
    }
}