html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: rgba(240, 235, 235, 0.822);
  font-family: "Montserrat", "sans-serif";
  overflow-x: hidden;
  position: relative;
}

#back-to-top {
  background-color: #0f967f;
  color: #ffffff;
  padding: 0.7rem 1.2rem;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: none;
}

#back-to-top:hover {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: -13px 14px 8px #6a6c6994;
          box-shadow: -13px 14px 8px #6a6c6994;
}

#header-panel #about-me-btn, #about-me #resume-btn {
  padding: 0.5rem 2.5rem;
  border-radius: 56px;
  -webkit-box-shadow: -4px 11px 20px 4px #7d9190;
          box-shadow: -4px 11px 20px 4px #7d9190;
  background: #e0ebef;
  background: linear-gradient(153deg, #e0ebef 0%, rgba(255, 255, 255, 0.98471) 46%, #a7cce8 100%);
}

#primary-navbar {
  z-index: 999999;
  position: fixed;
  top: 0;
}

#primary-navbar.scrolled-navbar {
  background: #ffffff;
}

#primary-navbar .navbar {
  padding: 0.5rem 2.5rem;
}

#primary-navbar .navbar-brand:hover {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#primary-navbar .navbar-brand #brand-logo {
  width: auto;
  height: 3.5rem;
}

#primary-navbar .active {
  border-top: solid black;
  border-bottom: solid black;
}

#primary-navbar .active:active {
  background-color: rebeccapurple;
}

#primary-navbar .nav-link {
  padding: 0.5rem 1.4rem;
  font-size: 1.15rem;
  color: #2e2b12;
  font-weight: 500;
}

#primary-navbar .nav-link:hover {
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#94cec9), color-stop(51%, #74cac9), to(#93b0d3));
  background: linear-gradient(to right, #94cec9 0%, #74cac9 51%, #93b0d3 100%);
  opacity: 0.7;
  -webkit-box-shadow: -16px 12px 20px 3px #0f967f;
          box-shadow: -16px 12px 20px 3px #0f967f;
  border-radius: 0.5rem;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  color: #1f1c03;
}

#primary-navbar .empty-column {
  display: none;
}

#primary-navbar .hover-effect {
  text-decoration: none;
  padding: 0.5rem 1.4rem;
  font-size: 1.15rem;
  color: #2e2b12;
  font-weight: 500;
}

#primary-navbar .hover-effect:hover {
  border: none;
  background: black;
  opacity: 0.7;
  -webkit-box-shadow: -9px 9px 16px 2px #797979f6;
          box-shadow: -9px 9px 16px 2px #797979f6;
  border-radius: 0.5rem;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  color: #ffffff;
}

#header-panel {
  background-image: url("../images/background-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 34rem;
  width: 100%;
  overflow: hidden;
  padding-top: 8rem;
}

#header-panel .wave {
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  /* Change to speed up or slow down */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /* Never stop waving :) */
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
  text-shadow: -14px 11px 20px #088b76;
}

@-webkit-keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#header-panel #image {
  height: 20rem;
  width: 100%;
}

#header-panel #image img {
  border-radius: 11px;
  background: #e0e0e0;
  -webkit-box-shadow: -15px 7px 20px 0px #797979;
          box-shadow: -15px 7px 20px 0px #797979;
}

#about-me {
  padding-top: 5rem;
}

#about-me .h1 {
  font-size: 2.2rem;
}

#about-me .h3 {
  font-size: 2rem;
}

#about-me #text-carousel {
  letter-spacing: 0.15rem;
}

#about-me #logos img {
  height: 4rem;
  width: auto;
  margin: 1rem auto;
  max-width: 100%;
}

#about-me .content {
  padding: 0 3rem;
  font-family: "Titillium Web", "sans-serif";
  line-height: 1.5;
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
}

#about-me .content .about-me-content {
  text-align: justify;
}

#projects {
  padding-top: 5rem;
}

#projects .project-content {
  position: relative;
  width: 24rem;
  height: auto;
  max-width: 25rem;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
}

#projects .project-content .content-overlay {
  border-radius: 1.5rem;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

#projects .project-content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

#projects .project-content:hover .content-overlay {
  opacity: 1;
}

#projects .project-content .content-image {
  width: 100%;
}

#projects .project-content .content-details {
  color: white;
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#projects .project-content .fadeIn-bottom {
  top: 80%;
}

#projects .project-content a {
  text-decoration: none;
  display: inline;
  background: #000000;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

#projects .project-content .content-details-lg-screen {
  display: none;
  margin-top: 0.5rem;
}

#projects .project-content .content-details-lg-screen .project-buttons {
  font-size: 0.8rem;
  margin-top: 0.6rem;
}

#projects .no-bg {
  max-width: 22rem;
  width: 19rem;
  height: auto;
}

#contact {
  background: #e5e2e2;
  background: linear-gradient(168deg, #cadfcc 0%, #cad1ce 48%, #6191b4 100%);
  margin-top: 3rem;
  padding: 2rem 0;
}

#contact textarea {
  resize: none;
}

#contact #contact-form,
#contact #contact-details {
  padding: 3.5rem;
  background: #fbfbfb;
  background: linear-gradient(168deg, #fbfbfb 0%, rgba(233, 231, 231, 0.874649) 44%, rgba(234, 234, 234, 0.978581) 100%);
}

#contact #contact-form #send-message {
  color: white;
  border-radius: 62px;
  background: #3a3b3b65;
  -webkit-box-shadow: -12px 12px 12px #b3bdae;
          box-shadow: -12px 12px 12px #b3bdae;
}

#contact #contact-form #send-message:hover {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: -6px 12px 16px #7c7b7b;
          box-shadow: -6px 12px 16px #7c7b7b;
}

#contact #contact-details .contact {
  color: #000000;
}

#contact #contact-details .contact:hover {
  color: #3b957d;
}

#contact #contact-details .socials {
  color: #000000e0;
  border-radius: 50%;
  padding: 1rem;
}

#contact #contact-details .socials:hover {
  background: #74867fc7;
  color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 7px 15px 16px #7c7b7b;
          box-shadow: 7px 15px 16px #7c7b7b;
}

#contact #contact-details .socials-wrapper {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#contact #contact-details .socials-wrapper .socials {
  max-width: 25%;
}

#footer {
  background: #000000;
  color: #ffffff;
  padding: 1.25rem 0 0.5rem 0;
}

#footer a:hover {
  text-decoration: none;
}

#footer .copyright {
  color: #ffffff;
  display: inline-block;
}

#footer .copyright:hover {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-box-shadow: 8px 8px 13px #6e6e6e67;
          box-shadow: 8px 8px 13px #6e6e6e67;
}

#footer .socials {
  color: #ffffff;
  border-radius: 50%;
  padding: 0.5rem;
  display: inline-block;
}

#footer .socials:hover {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-box-shadow: 8px 8px 13px #464b44;
          box-shadow: 8px 8px 13px #464b44;
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  #header-panel {
    height: 30rem;
  }
  #header-panel #image {
    height: 19rem;
    width: 100%;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  #header-panel {
    padding-top: 5rem;
    height: 25rem;
  }
  #header-panel #image {
    height: 16rem;
    width: 100%;
  }
  #contact #contact-details .socials {
    padding: 0.7rem;
  }
}

@media (max-width: 991.98px) {
  #primary-navbar .empty-column {
    display: block;
    height: 3.5rem;
  }
  #primary-navbar .navbar-collapse {
    background: #fafafa;
    border-radius: 1.5rem;
    -webkit-box-shadow: -26px 26px 51px #646464;
            box-shadow: -26px 26px 51px #646464;
    position: absolute;
    top: 0.5rem;
    left: 3rem;
    max-width: 90%;
    width: 90%;
  }
  #primary-navbar .animated-icon {
    z-index: 99999;
    width: 2.3rem;
    height: 1.7rem;
    position: absolute;
    top: 1.9rem;
    right: 3.5rem;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  #primary-navbar .animated-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    background: #000000;
  }
  #primary-navbar .animated-icon span:nth-child(1) {
    top: 0px;
  }
  #primary-navbar .animated-icon span:nth-child(2), #primary-navbar .animated-icon span:nth-child(3) {
    top: 10px;
  }
  #primary-navbar .animated-icon span:nth-child(4) {
    top: 20px;
  }
  #primary-navbar .animated-icon.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
  }
  #primary-navbar .animated-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #primary-navbar .animated-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #primary-navbar .animated-icon.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
  }
  #primary-navbar .active {
    border: none;
  }
  #primary-navbar .navbar-nav > .nav-link:hover {
    background: -webkit-gradient(linear, left top, right top, from(#b5d5d2), color-stop(51%, #a0cfce), to(#a5c1e4));
    background: linear-gradient(to right, #b5d5d2 0%, #a0cfce 51%, #a5c1e4 100%);
    opacity: 0.7;
    -webkit-box-shadow: -16px 12px 20px 3px #1f796a;
            box-shadow: -16px 12px 20px 3px #1f796a;
    border-radius: 0;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #000000;
  }
  #primary-navbar .navbar-nav > .nav-link:nth-child(5):hover {
    border-radius: 0 0 1.5rem 1.5rem;
  }
  #header-panel {
    padding-top: 5rem;
    height: 30rem;
  }
  #about-me #logos .drf,
  #about-me #logos .jquery {
    height: 3rem;
  }
  #about-me #logos img {
    height: 4rem;
    width: auto;
    margin: 1rem auto;
  }
  #about-me .content {
    padding: 0 2rem;
  }
  #projects .project-content {
    width: 18rem;
    height: 18rem;
  }
  #projects .project-content .content-overlay {
    display: none;
  }
  #projects .project-content:hover .content-details {
    display: none;
  }
  #projects .project-content:hover .content-overlay {
    display: none;
  }
  #projects .project-content .content-details {
    display: none;
  }
  #projects .project-content .content-details-lg-screen {
    display: block;
  }
  #projects .no-bg {
    max-width: 22rem;
    width: 14rem;
    height: 18rem;
  }
  #contact {
    padding: 3rem 0;
    margin-top: 1rem;
  }
  #contact #contact-form,
  #contact #contact-details {
    padding: 1rem;
  }
  #contact #contact-details .socials {
    padding: 0.55rem;
  }
}

/* X-Small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) {
  #primary-navbar .navbar-collapse {
    left: 2.5rem;
    width: 90%;
  }
  #primary-navbar .navbar {
    padding: 0.2rem 0.7rem;
  }
  #primary-navbar .navbar-brand #brand-logo {
    height: 2.8rem;
  }
  #primary-navbar .animated-icon {
    top: 1.4rem;
  }
  #header-panel {
    height: 25rem;
  }
  #header-panel .container {
    max-width: 100%;
    padding: 0 3rem;
  }
  #header-panel .h1 {
    font-size: 1.7rem;
  }
  #header-panel .h4 {
    font-size: 1.2rem;
  }
  #header-panel #image {
    height: 13rem;
    width: 100%;
  }
  #header-panel #about-me-btn {
    padding: 0.5rem 1.8rem;
  }
  #about-me {
    padding: 3rem 0 0 0;
    font-size: 1rem;
  }
  #about-me .h1 {
    font-size: 2rem;
  }
  #about-me .h3 {
    font-size: 1.75rem;
  }
  #about-me .content {
    font-size: 1.1rem;
  }
  #about-me #content-about-me {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #projects {
    font-size: 1rem;
  }
  #projects h1 {
    font-size: 2rem;
  }
  #contact {
    padding-bottom: 0;
    font-size: 1rem;
  }
  #contact h1 {
    font-size: 2rem;
  }
  #contact h2 {
    font-size: 1.7rem;
  }
  #contact .font-weight-bold {
    font-size: 1.15rem;
  }
  #contact #contact-form,
  #contact #contact-details {
    padding: 1.5rem;
  }
  #contact #contact-details .socials {
    padding: 1.5rem;
  }
}

@media (max-width: 575.98px) {
  #primary-navbar .navbar-collapse {
    left: 1.6rem;
    width: 90%;
  }
  #primary-navbar .navbar {
    padding: 0 1rem 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #primary-navbar .animated-icon {
    top: 1.1rem;
    right: 1.8rem;
  }
  #header-panel {
    height: 38rem;
  }
  #header-panel #image {
    height: 14rem;
    width: 100%;
  }
  #about-me .content {
    padding: 0 2rem;
  }
  #about-me .content .about-me-content {
    text-align: left;
  }
  #contact {
    padding: 0;
  }
  #contact #contact-details .socials {
    padding: 0.5rem;
  }
  #contact #contact-details .socials:hover {
    border-radius: 1rem;
  }
  #contact .socials-wrapper .socials i {
    font-size: 2.3rem;
  }
  #footer {
    padding: 0.25rem 0;
  }
  #footer i {
    font-size: 1.1rem;
  }
}
/*# sourceMappingURL=main.css.map */